<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <title>명령줄 인터페이스 가이드라인</title>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="명령줄 인터페이스 가이드라인" />
        <meta property="og:title"  content="명령줄 인터페이스 가이드라인" />
        
        <meta name="description"         content="전통적인 UNIX 원칙을 현대에 맞게 업데이트하여 더 나은 명령줄 프로그램을 작성하는 데 도움을 주는 오픈소스 가이드." />
        <meta name="twitter:description" content="전통적인 UNIX 원칙을 현대에 맞게 업데이트하여 더 나은 명령줄 프로그램을 작성하는 데 도움을 주는 오픈소스 가이드." />
        <meta property="og:description"  content="전통적인 UNIX 원칙을 현대에 맞게 업데이트하여 더 나은 명령줄 프로그램을 작성하는 데 도움을 주는 오픈소스 가이드." />
        
        <meta name="twitter:image" content="https://clig.dev/CLIG-social-card.jpg" />
        <meta property="og:image"  content="https://clig.dev/CLIG-social-card.jpg" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DLXNEPQY85"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-DLXNEPQY85');
        </script>

        {{ $style := resources.Get "css/main.css" | toCSS | minify | fingerprint }}
        {{ $printStyle := resources.Get "css/print.css" | toCSS | minify | fingerprint }}

        <link rel="stylesheet" media="screen" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
        <link rel="stylesheet" media="print" href="{{ $printStyle.RelPermalink }}" integrity="{{ $printStyle.Data.Integrity }}">
    </head>
    <body>
        {{- block "main" . }}{{- end }}
        {{ $js := resources.Get "js/main.js" }}
        <script src="{{ $js.Permalink }}"></script>
    </body>
</html>
